<p id="notice"><%= notice %></p>
<div class="col-lg-6">
  <%= image_tag @product.productimage_url %>

  <h2>
    <%= @product.name %>
  </h2>

  <div class="star-rating" data-score= <%= @average_rating %> ></div>
  <p><%= "#{@reviews.length} reviews" %></p>

  <p>
    <strong>User:</strong>
    <%= @product.user %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <%= link_to 'Create a Review', new_product_review_path(@product), class: "btn btn-primary", style: "color: white" %>


  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>

<div class="col-lg-6">
  <% if @reviews.blank? %>
    <h3>No reviews yet. Be the First!</h3>
  <% else %>
    <% @reviews.each do |review| %>
      <div class="star-rating" data-score= <%= review.rating %> ></div>
      <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
    <% end %>
  <% end %>
</div>

<script>
  $('.star-rating').raty(
    {
      path: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.1/images',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    }
  );
</script>
